# Shopify
PUBLIC_STORE_DOMAIN=
PUBLIC_STOREFRONT_API_TOKEN=
SESSION_SECRET=

# Sanity
SANITY_PROJECT_ID=2wo9hx90
SANITY_ORGANIZATION_ID=o9GdYjNoE
SANITY_DATASET=production
SANITY_API_VERSION=2026-06-01
SANITY_API_READ_TOKEN=
SANITY_PREVIEW_SECRET=
